.root {
  input {
    border-radius: 4px;
    margin-right: 4px;
    width: 220px;
    margin-bottom: 4px;
  }
  button {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 2px 12px;
    cursor: pointer;
  }

  .active {
    background-color: #666;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}